<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoCow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/material-dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nucleo-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nucleo-svg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/AutoCow.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/assets/vendors/mdi/css/materialdesignicons.min.css" asp-append-version="true" />

    <!----------Linking for dashboard---------------------->

    <link rel="stylesheet" href="~/lib/assets/scss/_navbar.scss" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/assets/scss/_sidebar.scss" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/assets/scss/components/_cards.scss" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/materialdesignicons.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/flag-icon.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css" asp-append-version="true"/>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" asp-append-version="true"/>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/lib/assets/scss/_dashboard.scss" asp-append-version="true">
    <script src="~/lib/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/lib/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/lib/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/assets/js/off-canvas.js"></script>
    <script src="~/lib/assets/js/hoverable-collapse.js"></script>
    <script src="~/lib/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->




    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

</head>
<body class=" g-sidenav-show bg-gray-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AutoCow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Daily" asp-action="Index">Daily Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cow_Profile" asp-action="Index">Cows</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Cows</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AutoCow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
