
@section title{
    <title>
        Privacy | AutoCow
    </title>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>

    document.getElementById("Privacy").classList.add("active");
    document.getElementById("Dashboard").classList.remove("active");


</script>